*{
    margin: 0;
    padding: 0;
    
}

header {
    height: 100px;
    background-color: rgb(12,67,54);
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    border: solid black 1.5px;
    margin-bottom: 100px;
}

nav{
    height: 100px;
}

a{
    color: black;
}

#hamburger_icon{
    height: 50px;
    width: auto;
    margin: 20px;
}

section {
    height: 600px;
    background-color: rgb(12,71,57);
}

footer {
    background-color: rgb(12,67,54);
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: solid black 1.5px;
}

#footertext{
    margin: 0px;
    color: white;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-shadow: 1px 1px 2px black;
    
}

h2{
    margin: 20px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 2px black;
}

h3 {
    margin: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    margin: 10px;
    color: white;
    font-size: 12px;
    text-shadow: 1px 1px 2px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*Allt som tillhör index sidan*/

#kangaroo{
    width: 100%;
    height: auto;
}

#gridwrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 600px ;
    height: 100vh;
    grid-template-areas: 
    "d1 d2 d3";
}

.ruta1 {
    grid-area: d1;
    background-color: rgb(63,129,118);
    margin: 10px 5px 10px 10px;
    border-radius: 20px;
    text-align: center;
    border: solid black 3px;
    box-shadow: 5px 5px 5px black;
}

.ruta2 {
    grid-area: d2;
    background-color: rgb(63,129,118);
    margin: 10px 5px 10px 5px;
    border-radius: 20px;
    text-align: center;
    border: solid black 3px;
    box-shadow: 5px 5px 5px black;
}

.ruta3 {
    grid-area: d3;
    background-color: rgb(63,129,118);
    margin: 10px 10px 10px 5px;
    border-radius: 20px;
    text-align: center;
    border: solid black 3px;
    box-shadow: 5px 5px 5px black;
}

#text_rubrik {
    margin: 20px 20px 40px 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

strong {
    color: white;
    margin: 10px;
}

#textruta1 {
    margin: 0px 20px 0px 20px;
}

#textruta2 {
    background-color: rgb(95,163,151);
    margin: 0px 20px 0px 20px;
    border: solid black 2px;
    border-radius: 10px;
    transition: 1s;
    box-shadow: 10px 5px 5px black;
}

#textruta2:hover {
    transform: scale(1.02);
    
}

#knapp_boka{
    width: 300px;
    height: 60px;
    border-radius: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: 10px 5px 5px black;
    border: solid black 2px;
}

#textruta3 {
    margin: 0px 20px 0px 20px;
    background-color: white;
}

#knapp_restaurang {
    width: 260px;
    height: 60px;
    border: solid black 2px;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgb(95,163,151);
    transition: 0.5s;
    box-shadow: 10px 5px 5px black;
}

#knapp_restaurang:hover {
transform: scale(1.02);
}

#restaurang_info_bild{
    height: 140px;
    width: auto;
}

button{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Allt som tillhör Restaurang sidan*/
#huvuddel {
    height: auto;
}

#gridwrapper2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px 500px;
    grid-template-areas: 
    "m1 m2 m3"
    "m4 m5 m6";
    
}

#meny1 {
    background-color: rgb(63,129,118);
    margin: 20px;
    border: solid black 2px;
    border-radius: 20px;
    grid-area: m1;
    box-shadow: 10px 5px 5px black;
}

#meny2 {
    background-color: rgb(63,129,118);
    margin: 20px;
    border: solid black 2px;
    border-radius: 20px;
    grid-area: m2;
    box-shadow: 10px 5px 5px black;
}

#meny3 {
    background-color: rgb(63,129,118);
    margin: 20px;
    border: solid black 2px;
    border-radius: 20px;
    grid-area: m3;
    box-shadow: 10px 5px 5px black;
}

#meny4 {
    background-color: rgb(63,129,118);
    margin: 20px;
    border: solid black 2px;
    border-radius: 20px;
    grid-area: m4;
    box-shadow: 10px 5px 5px black;
}

#meny5 {
    background-color: rgb(63,129,118);
    margin: 20px;
    border: solid black 2px;
    border-radius: 20px;
    grid-area: m5;
    box-shadow: 10px 5px 5px black;
}

#meny6 {
    margin: 20px;
    background-color: rgb(63,129,118);
    border: solid black 2px;
    border-radius: 20px;
    grid-area: m6;
    box-shadow: 10px 5px 5px black;
}

#meny_bilder{
    height: 80px;
    width: auto;
    margin: 20px;
    margin-top: 40px;
}

#restaurang_bild{
    border: dotted black 2px;
    width: 100%;
    height: auto;
}

.meny_rubrik{
    font-size: 40px;
    text-align: center;
}

#prislista{
    display: flex;
    justify-content: space-between;
}

#matbilder{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*Allt som tillhör Om Oss sidan*/
#gridwrapper3{
    justify-content: space-evenly;
    align-content: space-evenly;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 200px 200px;
    grid-template-areas: 
    "ow pe pe"
    "kl pe pe";
}

#owner {
    grid-area: ow;
    background-color: rgb(63,129,118);
    border: solid black 1.5px;
    box-shadow: 10px 5px 5px black;
    border-radius: 10px;
}

#kontaktlista {
    grid-area: kl;
    background-color: rgb(63,129,118);
    border-radius: 50px;
    border: solid black 1.5px;
    box-shadow: 10px 5px 5px black;
}

#personal {
    grid-area: pe;
    background-color: rgb(63,129,118);
    border: solid black 1.5px;
    box-shadow: 10px 5px 5px black;
    border-radius: 10px;
}

#ownerpics {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

#personpics {
    height: 60px;
    width: auto;
    border: solid gray 1.5px;
}

#mindre_rubriker{
    margin: 20px;
    text-align: center;
}

#minigridwrapper {
    justify-content: space-evenly;
    align-content: space-evenly;
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 150px 150px;
    grid-template-areas: 
    "per1 per2 per3"
    "per4 per5 per6";
}

#person1 {
    grid-area: per1;
}

#person2 {
    grid-area: per2;
}

#person3 {
    grid-area: per3;
}

#person4 {
    grid-area: per4;
}

#person5 {
    grid-area: per5;
}

#person6 {
    grid-area: per6;
}

.personalruta {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(12,71,57);
    align-items: center;
    border: solid black 1.5px;
    box-shadow: 10px 5px 5px black;
    margin: 5px;
    color: white;
    text-shadow: 1px 1px 2px black;
}