*{
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
    background-color: rgb(65, 70, 133);
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
}

#hamburger_icon{
    height: 50px;
    width: auto;
    margin: 20px;
}

section {
    height: 600px;
    background-color: gray;
}

footer {
    background-color: blue;
    height: 100px;
}

img{
    height: 80px;
    width: auto;
}

h2{
    margin: 20px;
}

h3 {
    margin: 10px;
}

p {
    margin: 10px;
}


/*Allt som tillhör index sidan*/

#kangaroo{
    width: 100%;
    height: auto;
}

#gridwrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 600px ;
    height: 100vh;
    grid-template-areas: 
    "d1 d2 d3";
}

.ruta1 {
    grid-area: d1;
    background-color: pink;
    margin: 10px 5px 10px 10px;
    border-radius: 20px;
    text-align: center;
    border: solid black 3px;
}

.ruta2 {
    grid-area: d2;
    background-color: white;
    margin: 10px 5px 10px 5px;
    border-radius: 20px;
    text-align: center;
    border: solid black 3px;
}

.ruta3 {
    grid-area: d3;
    background-color: green;
    margin: 10px 10px 10px 5px;
    border-radius: 20px;
    text-align: center;
    border: solid black 3px;
}

#text_rubrik {
    margin: 20px 20px 40px 20px;
    text-align: center;
}

strong {
    color: red;
    margin: 10px;
}

#textruta1 {
    margin: 0px 20px 0px 20px;
}

#textruta2 {
    background-color: orange;
    margin: 0px 20px 0px 20px;
    border: solid black 2px;
    border-radius: 10px;
    transition: 1s;
}

#textruta2:hover {
    transform: scale(1.02);
    
}

#knapp_boka{
    width: 300px;
    height: 60px;
    border-radius: 25px;
    margin-bottom: 10px;
    cursor: pointer;
}

#textruta3 {
    margin: 0px 20px 0px 20px;
    background-color: white;
}

#knapp_restaurang {
    width: 260px;
    height: 60px;
    border: solid black 2px;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgb(223, 69, 69);
    transition: 0.5s;
}

#knapp_restaurang:active{

}

#knapp_restaurang:hover {
transform: scale(1.02);
}


/*Allt som tillhör Restaurang sidan*/
#huvuddel {
    height: 1000px;
}

#gridwrapper2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px 500px;
    grid-template-areas: 
    "m1 m2 m3"
    "m4 m5 m6";
}

#meny1 {
    background-color: white;
    margin: 20px;
    border: solid black 2px;
    border-radius: 20px;
    grid-area: m1;
}

#meny2 {
    background-color: brown;
    margin: 20px;
    border: solid black 2px;
    border-radius: 20px;
    grid-area: m2;
}

#meny3 {
    background-color: purple;
    margin: 20px;
    border: solid black 2px;
    border-radius: 20px;
    grid-area: m3;
}

#meny4 {
    background-color: green;
    margin: 20px;
    border: solid black 2px;
    border-radius: 20px;
    grid-area: m4;
}

#meny5 {
    background-color: yellow;
    margin: 20px;
    border: solid black 2px;
    border-radius: 20px;
    grid-area: m5;
}

#meny6 {
    margin: 20px;
    background-color: aquamarine;
    border: solid black 2px;
    border-radius: 20px;
    grid-area: m6;
}



/*Allt som tillhör Om Oss sidan*/